<div class="md-form">
  <input type="search" [(ngModel)]="searchTerm" placeholder="Search text">
</div>
<!-- <ul *ngFor="let i of apiData | filter: searchText">
  <li>{{i.id}}</li>
  <li>{{i.phone}}</li>
  <li>{{i.name}}</li>
  <li>{{i.username}}</li>
  <li>{{i.email}}</li>
  <li>{{i.address.street}}</li>
</ul> -->



<table class="table">
  <tbody>
    <tr *ngFor="let i of apiData | filter: searchTerm">
      <th scope="row">1</th>
      <td>{{i.name}}</td>
      <!-- <td>{{i.phone}}</td> -->
      <!-- <td>{{i.email}}</td> -->
      <!-- <td>{{i.username}}</td> -->
    </tr>
  </tbody>
</table>